<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <h1></h1>
    </div>
</body>

<body>
    <div class="container">
        <h3> About Me: </h3>
        <p> Hello, My name is John Zacqueo I. Carreon. My hobbies are playing video games, watching movies, and listening to music. I am a 2nd year college student studying at Holy Angel University taking up the course Web Developement. My goal is to be a successful programmer, make my parents proud, and give them a comfortable life. </p>
    </div>
</body>

<body>
    <div class="container"></div>
    <h3>Biography </h3>
    </h3>
    <p> Age: 21</p>
    <p> Email: zac.carreon02@gmail.com</p>
    <p> Contact: +63 012 345 6789</p>
</body>

</html>