/* styles.css */
body {
  background-color: white;
}
h1 {
  color: rgb(228, 169, 9);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

* {
  max-width: 700px;
  margin: auto;
}

div {
  border-radius: 3px;
}
